<template>
    <section class="container">
        <h2>Kategorie</h2>
        <span class="btn btn-success" v-on:click="changePage(0)">Utwórz nową kategorię</span>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div v-for="(category, key) in categories" :key="key">
                    <CategoryItem
                        :category="category"
                        level="1"
                        :current-category="currentCategory"
                        v-on:change="changePage"
                    ></CategoryItem>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <CategoryForm v-on:reload="loadTree()" :key="currentCategory" v-if="openForm === true"
                              :current-category="currentCategory" v-on:change="changePage"></CategoryForm>
            </div>
        </div>
    </section>
</template>

<script>
import CategoryForm from "@/components/admin/CategoryForm";

export default {
    layout: 'admin',
    middleware: 'admin',
    components: {
        CategoryItem: () => import('@/components/admin/CategoryItem'),
        CategoryForm
    },
    data() {
        return {
            categories: [],
            currentCategory: 0,
            openForm: false
        };
    },
    methods: {
        changePage: function (id) {
            this.currentCategory = id;
            this.openForm = parseInt(id) >= 0;
        },
        loadTree: function () {
            this.$axios.get('/categories/tree').then(response => {
                if (response.status == 200) {
                    this.categories = response.data.data;
                } else {
                    this.categories = [];
                }
            })
        }
    },
    mounted() {
        this.loadTree();
    }
}
</script>
