<template>
    <div id="app">
        <top-nav></top-nav>
        <div class="container mt-4">
            <div class="card mainContentBox shadow">
                <div class="card-body">
                    <Menu></Menu>
                    <nuxt/>
                </div>
            </div>
        </div>
        <notifications position="bottom right"/>
    </div>
</template>

<script>
import TopNav from './partials/TopNav';
import Menu from "@/components/admin/Menu";

export default {
    components: {
        Menu,
        TopNav
    }
}
</script>
