<template>
    <div id="app">
        <div class="authPage">
            <section class="container">
                <div class="row vh-100 align-items-center">
                    <div class="col-lg-8 col-md-8 col-sm-12 m-auto text-center">
                        <div class="logo">
                            <img src="~/assets/images/logo.png"/>
                        </div>

                        <nuxt/>
                    </div>
                </div>
            </section>
        </div>
        <notifications position="bottom right"/>
    </div>
</template>
