<template>
    <div>
        <h1 class="title">
            Logowanie
        </h1>
        <div class="col-8 m-auto">
            <form @submit.prevent="login">
                <div>
                    <input
                        type="text"
                        v-model="form.email"
                        placeholder="adres e-mail"
                        class="form-control"
                        :class="[errors.email ? 'is-invalid' : '']"
                        v-b-tooltip.hover.right="errors.email"
                        :title="getError('email')"
                    />
                </div>

                <div>
                    <input
                        type="password"
                        v-model="form.password"
                        placeholder="hasło"
                        class="form-control"
                        :class="[errors.password ? 'is-invalid' : '']"
                        v-b-tooltip.hover.right="errors.password"
                        :title="getError('password')"
                    />
                </div>

                <div class="row buttons">
                    <div class="col-lg-7">
                        <button type="submit" class="btn btn-primary w-100">zaloguj</button>
                        <nuxt-link class="btn btn-primary w-100" to="/auth/register">zarejestruj się</nuxt-link>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'guest',
    layout: 'auth',
    data() {
        return {
            form: {
                email: '',
                password: ''
            }
        };
    },
    methods: {
        async login() {
            try {
                this.$auth.login({data: this.form});
                this.$router.redirect("/");
                this.$router.push({name: 'index'});
            } catch (e) {
            }
        },

        getError(field) {
            let error = [];
            if (field == 'email' && this.errors.email)
                error = this.errors.email;

            if (field == 'password' && this.errors.password)
                error = this.errors.password;

            return error.join('<br>');
        }
    }
}
</script>
