<template>
    <div>
        <h1 class="title">
            Zarejestruj się
        </h1>

        <div class="col-8 m-auto">
            <form @submit.prevent="register">
                <div>
                    <input
                        type="text"
                        v-model="form.email"
                        placeholder="adres e-mail"
                        class="form-control"
                        :class="[errors.email ? 'is-invalid' : '']"
                        v-b-tooltip.hover.right="errors.email"
                        :title="getError('email')"
                    />
                </div>

                <div>
                    <input
                        type="text"
                        v-model="form.name"
                        placeholder="imię i nazwisko"
                        class="form-control"
                        :class="[errors.name ? 'is-invalid' : '']"
                        v-b-tooltip.hover.right="errors.name"
                        :title="getError('name')"
                    />
                </div>

                <div>
                    <input
                        type="password"
                        v-model="form.password"
                        placeholder="hasło"
                        class="form-control"
                        :class="[errors.password ? 'is-invalid' : '']"
                        v-b-tooltip.hover.right="errors.password"
                        :title="getError('password')"
                    />
                </div>

                <div>
                    <input
                        type="password"
                        v-model="form.password_confirmation"
                        placeholder="powtórz hasło"
                        class="form-control"
                        :class="[errors.password ? 'is-invalid' : '']"
                        v-b-tooltip.hover.right="errors.password"
                        :title="getError('password')"
                    />
                </div>

                <div>
                    <div class="checkbox disabled">
                        <label :class="[errors.is_rodo_checked ? 'is-invalid' : '']"
                               v-b-tooltip.hover.right="errors.is_rodo_checked" :title="getError('is_rodo_checked')">
                            <input type="checkbox" v-model="form.is_rodo_checked" value="1">
                            <span></span>
                            <span style="color:red">*</span>
                            Wyrażam zgodę na przetwarzanie moich danych osobowych przez Przepisomat, w celu
                            zarejestrowania
                            się w serwisie oraz zapisywania swoich przepisów.
                            Oświadczam, iż dane zostały podane dobrowolnie i zapoznałam/zapoznałem się z poniższą
                            klauzulą
                            informacyjną oraz pouczeniem dotyczącym prawa dostępu
                            do treści moich danych i możliwości ich poprawienia. Jestem świadomy, iż moja zgoda może być
                            w każdym
                            czasie odwołana.
                        </label>
                    </div>
                    <div class="row buttons">
                        <div class="col-lg-7 m-auto">
                            <span class="btn btn-info w-100 mb-2" data-toggle="modal" v-b-modal.rodo-modal
                                  data-target="#rodo-modal">Klauzula informacyjna</span>
                        </div>
                    </div>

                    <b-modal class="modal" id="rodo-modal" tabindex="-1" role="dialog" title="Klauzula informacyjna">
                        <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27
                            kwietnia 2016 r. (dalej: RODO) informuję, iż Administratorem Państwa Danych Osobowych jest
                            Michał Kuchta zamieszkały Pagorzyna 146, 38-305 Lipinki;
                            z Administratorem można skontaktować się pod adresem e-mail: michal.kuchta@outlook.com;
                            Państwa dane osobowe będą przetwarzane na podstawie art. 6 ust. 1 lit. a i b) RODO w celu
                            zarejestrowania się w serwisie oraz dodawania przepisów;
                            Państwa dane osobowe będą przechowywane do momentu usunięcia konta w serwisie
                            www.przepisomat.kik-software.pl lub zgłoszenia wniosku o usunięcie Państwa danych;
                            w przypadku wyrażenia większej ilości zgód, podane dane osobowe będą przetwarzane również na
                            podstawie art. 6 ust. 1 lit. a) RODO;
                            przysługuje Państwu prawo do żądania od administratora dostępu do danych osobowych, prawo
                            ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, prawo
                            wniesienia sprzeciwu, prawo do cofnięcia zgody;
                            w przypadku stwierdzenia, że przetwarzanie Państwa danych osobowych narusza przepisy RODO,
                            mają Państwo prawo wnieść skargę do Prezesa Urzędu Ochrony Danych Osobowych;
                            podanie danych osobowych jest dobrowolne, jednakże ich niepodanie skutkować będzie
                            niemożliwością zarejestrowania się w serwisie oraz dodania przepisów;
                            podane dane osobowe nie będą przechowywane na serwerach w państwie trzecim;</p>
                    </b-modal>
                </div>

                <div class="row buttons">
                    <div class="col-lg-7 m-auto">
                        <button type="submit" class="btn btn-primary w-100">zarejestruj się</button>
                        <nuxt-link class="btn btn-primary w-100" to="/auth/login">zaloguj</nuxt-link>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'guest',
    auth: false,
    layout: 'auth',
    data() {
        return {
            form: {
                email: '',
                name: '',
                password: '',
                password_confirmation: '',
                is_rodo_checked: false
            }
        };
    },
    methods: {
        async register() {
            try {
                await this.$axios.post('/auth/register', this.form);

                this.$notify({
                    type: "success",
                    text: "Twoje konto zostało założone. Poczekaj na aktywację konta przez administratora systemu."
                });
                this.form = {
                    email: '',
                    name: '',
                    password: '',
                    password_confirmation: '',
                    is_rodo_checked: false
                };
            } catch (e) {
            }
        },

        getError(field) {
            let error = [];
            if (field == 'email' && this.errors.email)
                error = this.errors.email;

            if (field == 'password' && this.errors.password)
                error = this.errors.password;

            if (field == 'is_rodo_checked' && this.errors.is_rodo_checked)
                error = this.errors.is_rodo_checked;

            if (field == 'name' && this.errors.name)
                error = this.errors.name;

            return error.join('<br>');
        }
    }
}
</script>
