<template>
    <div>
        <div class="text-center">
            Edycja przepisu
        </div>
        <hr>
        <recipe-form :recipe-id="this.id"></recipe-form>
    </div>
</template>

<script>

import recipeForm from "../../../components/recipeForm";

export default {
    components: {
        recipeForm
    },
    async asyncData({params}) {
        const id = params.id;

        return {id};
    }
}
</script>
