<template>
    <div v-if="recipe">
        <div class="recipeDetails pl-3 pr-3">
            <div class="row pl-lg-4 mb-2">
                <div class="col-lg-6 col-md-6 col-sm-6 text-left">
                    <h4 class="header mt-1" style="font-size:17px" v-if="recipe.category">Kategoria: <a
                        :href="recipe.category.url">{{ recipe.category.name }}</a></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-right" v-if="recipe.is_author">
                    <nuxt-link :to="'/recipes/edit/' + recipe.id" class="btn btn-primary">Edytuj</nuxt-link>
                    <nuxt-link :to="'/recipes/delete/' + recipe.id" class="btn btn-info">Usuń</nuxt-link>
                </div>
            </div>
            <div class="row pl-lg-4">
                <div class="col-lg-6">
                    <div id="carousel_recipe" class="carousel slide ml-auto mr-auto" data-ride="carousel">
                        <ol class="carousel-indicators" v-if="recipePhotos.length > 1">
                            <li
                                v-for="(photo, index) in recipePhotos"
                                :key="index" data-target="#carousel_recipe"
                                :data-slide-to="photo.id"
                                :class="{ active: activeSlide == index }"
                                v-on:click.prevent="changeSlide(index)"
                            ></li>
                        </ol>
                        <div class="carousel-inner">
                            <template v-if="recipePhotos.length > 0">
                                <div v-for="(photo, index) in recipePhotos" :key="index"
                                     :class="{ active: activeSlide == index }" class="carousel-item">
                                    <img class="d-block ml-auto mr-auto" style="width: 100%;" :src="photo.photo.url">
                                </div>
                            </template>

                            <div class="carousel-item active" v-if="recipePhotos.length == 0">
                                <img class="d-block ml-auto mr-auto" style="width: 100%;"
                                     src="/images/image-placeholder.png">
                            </div>
                        </div>
                        <template v-if="recipePhotos.length > 1">
                            <a class="carousel-control-prev" role="button" v-on:click.prevent="changeSlide('next')">
                                <span class="left-arrow" aria-hidden="true"></span>
                                <span class="sr-only">Poprzedni</span>
                            </a>
                            <a class="carousel-control-next" role="button" v-on:click.prevent="changeSlide('prev')">
                                <span class="right-arrow" aria-hidden="true"></span>
                                <span class="sr-only">Następny</span>
                            </a>
                        </template>
                    </div>
                </div>

                <div class="col-lg-6">
                    <h3 class="pr-lg-4">{{ recipe.name }}</h3>
                    <hr/>
                    <h4 class="header mt-3" style="font-size:17px">Składniki</h4>
                    <div class="row" v-for="(ingredient, index) in recipeIngredients" :key="index">
                        <div class="col-auto pr-1 pl-3">
                            <input type="checkbox" value="1">
                            <span></span>
                        </div>
                        <div class="col-auto pr-1 pl-1">
                    <span
                        class="add-to-cart-btn icon"
                        v-on:click="addToCart(ingredient.id)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Dodaj do listy zakupów"
                    >
                        <i class="fas fa-shopping-basket"></i>
                    </span>
                        </div>
                        <div class="col-4">{{ ingredient.ingredient.name }}</div>
                        <div class="col-auto">{{ ingredient.value }} {{ getUnitAbbreviation(index) }}</div>
                    </div>
                </div>
            </div>
            <div class="row pl-lg-4">
                <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                    <div class="row additional-data-row d-flex">
                        <div class="col-12 align-self-end">
                            <div class="row additional-data-row">
                                <div class="col-5">
                                    <rating
                                        :value="recipe.rate.value"
                                        :user-value="recipe.rate.user_value"
                                        :recipe-id="recipe.id"
                                        v-on:change="rateRecipe"
                                    ></rating>
                                </div>
                                <div class="col-3 difficulty">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="bar-minimum" :class="{'active':recipe.difficulty == 1}"></div>
                                            <div class="bar-medium" :class="{'active':recipe.difficulty == 2}"></div>
                                            <div class="bar-maximum" :class="{'active':recipe.difficulty == 3}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 preparing-time">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="col-2 text-center portions">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                            <div class="row additional-data-row">
                                <div class="col-5 preparing-time">
                                    <span>{{ recipe.rate.value }}</span>
                                </div>
                                <div class="col-3 difficulty">
                                    <span>
                                        <template v-if="recipe.difficulty == 1">Łatwy</template>
                                        <template v-if="recipe.difficulty == 2">Średni</template>
                                        <template v-if="recipe.difficulty == 3">Trudny</template>
                                    </span>
                                </div>
                                <div class="col-2 preparing-time">
                                    <span>{{ recipe.preparing_time }} min.</span>
                                </div>
                                <div class="col-2 text-center portions">
                                    <span>{{ recipe.portions }} os.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <template v-if="recipe.description && recipe.description.length > 0">
                <hr>
                <div class="row pl-lg-4 pr-lg-4">
                    <div class="col-lg-12">
                        <h1 class="header">Opis</h1>
                        <div v-html="recipe.description">

                        </div>
                    </div>
                </div>
            </template>

            <template v-if="recipeSteps.length > 0">
                <hr>
                <div class="row pl-lg-4 pr-lg-4">
                    <div class="col-lg-12">
                        <div v-for="(step, index) in recipeSteps" :key="index">
                            <h3 class="header mt-3">Krok: {{ step.position }}</h3>
                            <div class="row">
                                <div class="col-lg-4"><img :src="step.photo.url"
                                                           style="max-width: 100%; max-height: 500px"></div>
                                <div class="col-lg-8" v-html="step.description"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import Rating from "../../components/rating";

export default {
    components: {Rating},
    data() {
        return {
            activeSlide: 0
        };
    },
    methods: {
        changeSlide: function (direction) {
            if (direction == 'next') {
                if (this.activeSlide + 1 > this.recipePhotos.length - 1)
                    this.activeSlide = 0;
                else
                    this.activeSlide = this.activeSlide + 1;
            } else if (direction == 'prev') {
                if (this.activeSlide - 1 < 0)
                    this.activeSlide = this.recipePhotos.length - 1;
                else
                    this.activeSlide = this.activeSlide - 1;
            } else if (isFinite(direction) && direction >= 0) {
                this.activeSlide = direction;
            }
        },
        addToCart: function (ingredient_id) {
            this.$axios.post('/cart', {
                recipe_id: this.recipe.id,
                ingredient_id: ingredient_id
            }).then((response) => {
                if (response.status == 201) {
                    this.$notify({type: "success", text: "Składnik został dodany do koszyka"});
                    this.$auth.fetchUser();
                } else
                    this.$notify({type: "error", text: "Błąd systemu, spróbuj ponownie później"});
            });
        },
        rateRecipe: function (rating) {
            this.recipe.rate = rating;
        },
        getUnitAbbreviation: function (ingredientIndex) {
            let value = parseFloat(this.recipeIngredients[ingredientIndex].value);

            if (value === 1)
                return this.recipeIngredients[ingredientIndex].unit.abbr_quantity_one;
            else if (value % 1 !== 0)
                return this.recipeIngredients[ingredientIndex].unit.abbr_quantity_float;
            else if (value >= 2 && value <= 4)
                return this.recipeIngredients[ingredientIndex].unit.abbr_quantity_two_four;
            else if (value >= 5)
                return this.recipeIngredients[ingredientIndex].unit.abbr_quantity_five_and_more;

            return this.recipeIngredients[ingredientIndex].unit.abbr_quantity_one;
        }
    },
    async asyncData({params, $axios}) {
        const id = params.id;
        const recipe = await $axios.get('/recipes/' + id).then(response => {
            if (response.status === 200) {
                return response.data.data;
            }

            return {};
        });

        const recipeIngredients = await $axios.get('/recipes/' + recipe.id + '/ingredient').then(ingredientsResponse => {
            if (ingredientsResponse.status === 200) {
                return ingredientsResponse.data.data;
            }

            return [];
        });

        const recipeSteps = await $axios.get('/recipes/' + recipe.id + '/step').then(stepsResponse => {
            if (stepsResponse.status === 200) {
                return stepsResponse.data.data;
            }

            return [];
        });

        const recipePhotos = await $axios.get('/recipes/' + recipe.id + '/photo').then(photosResponse => {
            if (photosResponse.status === 200) {
                return photosResponse.data.data;
            }

            return [];
        });

        return {recipe, recipeIngredients, recipeSteps, recipePhotos};
    }
}
</script>
