<template>
    <div>
        <div class="text-center">
            Dodawanie przepisu
        </div>
        <hr>
        <recipe-form recipe-id="0"></recipe-form>
    </div>
</template>

<script>

import recipeForm from "../../components/recipeForm";

export default {
    components: {
        recipeForm
    }
}
</script>
