<template>
    <div style="width: 100%">
        <i class="fas fa-bars" v-on:click="()=>{this.visible = !visible}"></i> Kategorie
        <div class="list">
            <CategoryItems
                v-if="visible"
                :categories="categories"
                :level="1"
                :currentCategory="0"
            ></CategoryItems>
        </div>
    </div>
</template>

<script>
import CategoryItems from "./CategoryItems";

export default {
    components: {
        CategoryItems
    },
    name: 'Categories',
    data: function () {
        return {
            categories: [],
            visible: false
        };
    },
    mounted() {
        this.$axios.get('/categories/tree').then(response => {
            if (response.status === 200) {
                this.categories = response.data.data;
            }
        });
    },
    watch: {
        $route () {
            this.visible = false;
        }
    },
}
</script>
