<template>
    <div>
        <div v-for="(category, key) in categories" :key="key" class="category-item">
            <CategoryItem
                :category="category"
                :level="level"
                :current-category="currentCategory"
            ></CategoryItem>
        </div>
    </div>
</template>

<script>
export default {
    components: {
        CategoryItem: () => import('./CategoryItem')
    },
    name: 'CategoryItems',
    props: ["categories", "currentCategory", "level"]
}
</script>
