<template>
    <div class="row" :class="['cat-level-' + level]">
        <div class="col-12" style="position: relative">
            <i class="far fa-plus-square categoryExpander" v-if="expanded === false && category.children.length > 0"
               v-on:click.prevent="expand()"></i>
            <i class="far fa-minus-square categoryExpander" v-if="expanded === true && category.children.length > 0"
               v-on:click.prevent="expand()"></i>
            <nuxt-link :to="'/category/' + category.slug + ',' + category.id">{{ category.name }}</nuxt-link>
            <template v-if="expanded && category.children.length > 0">
                <br>
                <CategoryItems
                    :categories="category.children"
                    :level="level+1"
                    :currentCategory="currentCategory"
                ></CategoryItems>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    components: {
        CategoryItems: () => import('./CategoryItems')
    },
    name: 'CategoryItem',
    data() {
        return {
            expanded: false
        }
    },
    props: ["category", "currentCategory", "level"],
    layout: 'admin',
    middleware: 'admin',
    methods: {
        isActive: function () {

        },
        expand: function () {
            this.expanded = !this.expanded;
        }
    }
}
</script>
