<template>
    <div class="row pagination justify-content-center mt-2" v-if="totalPages > 0">
        <template v-if="page - 1 > 0">
            <span class="page-item">
                <button class="page-link" v-on:click="changePage(1)">pierwsza</button>
            </span>
            <span class="page-item">
                <button class="page-link" v-on:click="changePage(page - 1)">poprzednia</button>
            </span>
        </template>

        <span class="page-item" v-for="i in [5, 4, 3, 2, 1]" v-if="page - i > 0" :key="page - i">
            <button class="page-link" v-on:click="changePage(page - i)">{{ page - i }}</button>
        </span>

        <span class="page-item active">
            <button class="page-link" v-on:click="changePage(page)">{{ page }}</button>
        </span>

        <span class="page-item" v-for="i in [1, 2, 3, 4, 5]" v-if="page + i <= totalPages" :key="page + i">
            <button class="page-link" v-on:click="changePage(page + i)">{{ page + i }}</button>
        </span>

        <template v-if="page + 1 <= totalPages">
            <span class="page-item">
                <button class="page-link" v-on:click="changePage(page + 1)">następna</button>
            </span>
            <span class="page-item">
                <button class="page-link" v-on:click="changePage(totalPages)">ostatnia</button>
            </span>
        </template>

        <span class="page-item disabled">
            <span class="page-link">
                Ilość stron: {{ totalPages }}, Ilość wyników: {{ total }}
            </span>
        </span>
    </div>
</template>

<script>
export default {
    props: ['totalPages', 'page', 'perPage', 'total'],
    methods: {
        changePage: function (page) {
            console.log();
            if (page !== this.page)
                this.$emit('change', page);
        }
    }
}
</script>
