<template>
    <div class="rating">
        <div
            class="star"
            :class="['star-'+rating]" v-for="(rating, index) in ratings"
            data-toggle="tooltip"
            data-placement="top"
            :title="[disabled ? 'Ten przepis został już przez Ciebie oceniony' : 'Ocena: ' + rating]"
            :key="index"
        >
            <i
                :class="[starValue >= rating ? 'fas' : 'far', 'fa-star']"
                v-on:click="saveRating(rating)"
                v-on:mouseover="selectStar(rating)"
                v-on:mouseout="deselectStar"

            ></i>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'value',
        'userValue',
        'recipeId'
    ],

    data: function () {
        return {
            disabled: typeof this.userValue !== 'undefined' && this.userValue !== null && parseInt(this.userValue) > 0,
            ratings: [1, 2, 3, 4, 5],
            defaultValue: this.value,
            starValue: typeof this.userValue !== 'undefined' && this.userValue !== null && parseInt(this.userValue) > 0 ? this.userValue : 0
        }
    },

    methods: {
        selectStar: function (rating) {
            if (this.disabled)
                return;

            this.starValue = rating;
        },

        deselectStar: function () {
            if (this.disabled)
                return;

            this.starValue = this.defaultValue;
        },

        saveRating: function (rating) {
            if (this.disabled) {
                this.$notify({type: 'warn', text: 'Już oceniłeś ten przepis'});
                return;
            }

            if (!this.recipeId)
                this.$notify({type: 'error', text: 'Błąd systemu, spróbuj ponownie później'});

            this.$axios.patch('/recipes/' + this.recipeId + '/rate', {
                value: rating
            }).then((response) => {
                this.$notify({type: 'success', text: 'Ocena przepisu zostła zapisana'});

                this.$axios.get('/recipes/' + this.recipeId + '/rate').then((response) => {
                    if (response.status == 200) {
                        this.starValue = response.data.data.rate.user_value;
                        this.disabled = true;
                        this.$emit('change', response.data.data.rate);
                    }
                });
            });
        }
    }
}
</script>
