<template>
    <div>
        <form>
            <div class="card mt-3 tab-card">
                <div class="card-header tab-card-header custom-card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#" :class="['nav-link', tab == 'general' ? 'active' : '']"
                               @click.prevent="changeTab('general')">Dane podstawowe</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" :class="['nav-link', tab == 'ingredients' ? 'active' : '']"
                               @click.prevent="changeTab('ingredients')">Składniki</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" :class="['nav-link', tab == 'steps' ? 'active' : '']"
                               @click.prevent="changeTab('steps')">Kroki</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" :class="['nav-link', tab == 'photos' ? 'active' : '']"
                               @click.prevent="changeTab('photos')">Zdjęcia</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" :class="['nav-link', tab == 'share' ? 'active' : '']"
                               @click.prevent="changeTab('share')">Udostępnianie</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="row p-3" v-if="tab == 'general'">
                        <div class="col-lg-7 col-md-12">
                            <div class="form-group">
                                <label class="control-label">Nazwa <var class="required"></var></label>
                                <input type="text" class="form-control" v-model="recipe.name">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Opis</label>
                                <editor :init="editorConfig" v-model="recipe.description"
                                        :api-key="editorApiKey"></editor>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label class="control-label">Ilość porcji</label>
                                        <input type="number" min="1" class="form-control" v-model="recipe.portions">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="form-group">
                                        <label class="control-label">Czas przygotowania (minuty)</label>
                                        <input type="number" min="0" class="form-control"
                                               v-model="recipe.preparing_time">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="control-label">Szacunkowy koszt (zł)</label>
                                        <input type="number" min="0" step="0,1" class="form-control"
                                               v-model="recipe.estimated_price">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Trudność</label>
                                        <select class="form-control" v-model="recipe.difficulty">
                                            <option value="1">Łatwy</option>
                                            <option value="2">Średni</option>
                                            <option value="3">Trudny</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Kategorie</label>
                                        <select class="form-control" v-model="recipe.category_id">
                                            <option value="">Brak kategorii</option>
                                            <option v-for="category in categories" :key="category.id"
                                                    :value="category.id">{{ category.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-3" v-if="tab == 'ingredients'">

                        <template v-if="recipe.ingredients.length > 0">
                            <table class="w-100">
                                <thead>
                                <th class="text-center">Nazwa</th>
                                <th class="text-center">Wartość</th>
                                <th class="text-center">Miara</th>
                                </thead>
                                <tbody>
                                <tr v-for="(ingredient, ingredientIndex) in recipe.ingredients" :key="ingredientIndex"
                                    class="pb-2">
                                    <td class="text-center">{{ ingredient.name }}</td>
                                    <td class="pl-2 pr-2">
                                        <input type="number" min="0.0" step="0.1" class="form-control"
                                               v-model="recipe.ingredients[ingredientIndex].value">
                                    </td>
                                    <td class="pl-2 pr-2">
                                        <select class="form-control"
                                                v-model="recipe.ingredients[ingredientIndex].unit_id">
                                            <option
                                                v-for="(unit, unitIndex) in units"
                                                :key="unitIndex"
                                                :value="unit.id"
                                                :selected="unit.id == recipe.ingredients[ingredientIndex].unit"
                                            >{{ unit.name }}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-danger"
                                                @click.prevent="deleteIngredient(ingredientIndex)">X
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </template>

                        <div class="form-group w-50 mt-2">
                            <div class="row">
                                <div class="col-auto">Dodaj składnik:</div>
                                <div class="col">
                                    <v-select
                                        :options="selectIngredients"
                                        :filterable="false"
                                        :clearable="false"
                                        :taggable="true"
                                        @search="query => fetchIngredients(query)"
                                        @open="fetchIngredients('')"
                                        @close="clearIngredientsList()"
                                        @input="value => setIngredientSelection(value)"
                                        :settings="{allowClear: false}"
                                    >
                                        <div slot="no-options">Brak składników</div>
                                    </v-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-3" v-if="tab == 'steps'">
                        <template v-if="recipe.steps.length > 0">
                            <div class="row" v-for="(step, stepIndex) in recipe.steps" :key="stepIndex">
                                <div class="col-2">
                                    Krok {{ stepIndex + 1 }}
                                </div>
                                <div class="col-4">
                                    Opis<br>
                                    <textarea class="form-control" rows="4"
                                              v-model="recipe.steps[stepIndex].description"></textarea>
                                </div>
                                <div class="col-4">
                                    Zdjęcie
                                    <div v-if="recipe.steps[stepIndex].photo_id > 0" class="text-center">
                                        <img :src="recipe.steps[stepIndex].preview_url" height="100">
                                    </div>
                                    <input
                                        type="file"
                                        class="pt-2"
                                        :ref="'step-' + stepIndex"
                                        @change="(event) => {stepFileSelected(stepIndex, event)}"
                                    >
                                    <button
                                        v-if="recipe.steps[stepIndex].photo_id > 0"
                                        class="btn btn-danger mt-2 w-100"
                                        @click.prevent="deleteStepPhoto(stepIndex)"
                                    >Usuń zdjęcie
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger" @click.prevent="deleteStep(stepIndex)">X</button>
                                </div>
                            </div>
                            <hr class="pb-2">
                        </template>
                        <button class="btn btn-primary" @click.prevent="addStep">Dodaj nowy krok</button>
                    </div>

                    <div class="p-3" v-if="tab == 'photos'">
                        <template v-if="recipe.photos.length > 0">
                            <div class="row">
                                <div class="col-4" v-for="(photo, photoIndex) in recipe.photos" :key="photoIndex">
                                    <div v-if="recipe.photos[photoIndex].photo_id > 0" class="text-center">
                                        <img :src="recipe.photos[photoIndex].preview_url" height="100">
                                    </div>
                                    <input
                                        type="file"
                                        class="pt-2"
                                        :ref="'photo-' + photoIndex"
                                        @change="(event) => {fileSelected(photoIndex, event)}"
                                    >
                                    <button
                                        v-if="recipe.photos[photoIndex].photo_id > 0"
                                        class="btn btn-danger mt-2 w-100"
                                        @click.prevent="deletePhoto(photoIndex)"
                                    >Usuń zdjęcie
                                    </button>
                                </div>
                            </div>
                            <hr class="pb-2">
                        </template>
                        <button class="btn btn-primary" @click.prevent="addPhoto">Dodaj zdjęcie</button>
                    </div>

                    <div class="p-3" v-if="tab == 'share'">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                Zasady udostępniania przepisów<br>
                                <ul data-id="0" class="list-unstyled radio">
                                    <li>
                                        <label>
                                            <input type="radio" value="-1" v-model="recipe.share_type">
                                            Pobierz ustawienia z konta użytkownika ({{ getUserShareTypeText() }})
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" value="0" v-model="recipe.share_type">
                                            Nie udostępniaj
                                        </label>
                                    </li>
                                    <li>
                                        <label class="share_type">
                                            <input type="radio" value="1" v-model="recipe.share_type">
                                            Udostępnij wybranym
                                        </label>
                                    </li>
                                    <li>
                                        <label class="share_type">
                                            <input type="radio" value="2" v-model="recipe.share_type">
                                            Udostępnij wszystkim
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12" v-if="recipe.share_type == 1">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="row pb-1 pt-1"
                                             v-for="(sharedEmail, sharedEmailsIndex) in recipe.shared_emails"
                                             :key="sharedEmailsIndex">
                                            <div class="col-11">
                                                <input type="email"
                                                       v-model="recipe.shared_emails[sharedEmailsIndex].value"
                                                       class="form-control" placeholder="Adres e-mail">
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger"
                                                        @click.prevent="deleteEmailField(sharedEmailsIndex)">x
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 pt-1">
                                        <button class="btn btn-success" @click.prevent="addEmailField">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-3">
            <button class="btn btn-success" @click.prevent="saveRecipe">Zapisz</button>
            <nuxt-link v-if="recipe.id > 0" class="btn btn-info" :to="'/recipes/' + recipe.id">Powrót</nuxt-link>
            <nuxt-link v-if="recipe.id === 0" class="btn btn-info" to="/">Powrót</nuxt-link>
        </div>
    </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import vSelect from "vue-select";

export default {
    components: {
        Editor,
        vSelect
    },
    props: ['recipeId'],
    data() {
        return {
            tab: 'general',
            recipe: {
                id: 0,
                name: '',
                description: '',
                portions: '',
                preparing_time: '',
                estimated_price: '',
                difficulty: 1,
                category_id: null,
                ingredients: [],
                steps: [],
                photos: [],
                share_type: -1,
                shared_emails: []
            },
            selectIngredients: [],
            categories: [],
            ingredients: [],
            units: []
        }
    },
    methods: {
        getUserShareTypeText: function () {
            if (this.$auth.user.share_type == 1) {
                return 'Udostępnij wybranym';
            }

            if (this.$auth.user.share_type == 2) {
                return 'Udostępnij wszystkim';
            }

            return 'Nie udostępniaj'
        },

        changeTab(tab) {
            this.tab = tab;
        },

        //Ingredients
        fetchIngredients(search) {
            this.clearIngredientsList();

            let ids = [];
            this.recipe.ingredients.forEach((ingredient) => {
                ids.push(ingredient.ingredient_id);
            });

            this.$axios.get('/ingredients', {
                params: {
                    query: search,
                    excludedIds: ids,
                    perPage: 30
                }
            }).then(response => {
                response.data.data.forEach(row => {
                    this.selectIngredients.push({
                        label: row.name,
                        code: row.id
                    });
                });
            });
        },
        clearIngredientsList() {
            this.selectIngredients = [];
        },
        setIngredientSelection(option) {
            if (option.code) {
                this.$axios.get('/ingredients/' + option.code).then(response => {
                    this.recipe.ingredients.push({
                        ingredient_id: response.data.data.id,
                        name: response.data.data.name,
                        value: 0,
                        unit_id: this.units[0].id
                    });
                });
            } else {
                let value = option;

                if (option.label)
                    value = option.label;

                this.$axios.post('/ingredients', {
                    name: value
                }).then(response => {
                    this.recipe.ingredients.push({
                        id: 0,
                        ingredient_id: response.data.data.id,
                        name: response.data.data.name,
                        value: 0,
                        unit_id: this.units[0].id
                    });
                });
            }
        },
        deleteIngredient(ingredientIndex) {
            this.recipe.ingredients.splice(ingredientIndex, 1);
        },

        //Steps
        addStep() {
            this.recipe.steps.push({
                id: 0,
                description: '',
                photo_id: 0,
                preview_url: ''
            });
        },
        deleteStep(stepIndex) {
            this.recipe.steps.splice(stepIndex, 1);
        },
        stepFileSelected(stepIndex, event) {
            this.sendPhoto(event.target.files[0])
                .then((response) => {
                    let data = response.data.data;
                    this.recipe.steps[stepIndex].photo_id = data.id;
                    this.recipe.steps[stepIndex].preview_url = data.url;
                });
        },
        deleteStepPhoto(stepIndex) {
            this.recipe.steps[stepIndex].photo_id = 0;
            this.recipe.steps[stepIndex].preview_url = '';

            if (this.$refs['step-' + stepIndex].length > 0) {
                this.$refs['step-' + stepIndex][0].value = null;
            }
        },

        //Photos
        addPhoto() {
            this.recipe.photos.push({
                id: 0,
                photo_id: 0,
                preview_url: ''
            });
        },
        fileSelected(photoIndex, event) {
            this.sendPhoto(event.target.files[0])
                .then((response) => {
                    let data = response.data.data;
                    this.recipe.photos[photoIndex].photo_id = data.id;
                    this.recipe.photos[photoIndex].preview_url = data.url;
                });
        },
        deletePhoto(photoIndex) {
            if (this.$refs['photo-' + photoIndex].length > 0) {
                this.$refs['photo-' + photoIndex][0].value = null;
            }

            this.recipe.photos.splice(photoIndex, 1);
        },
        sendPhoto(file) {
            let formData = new FormData();

            formData.append("photo", file);

            return this.$axios.post('/photos', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
        },

        //Share
        addEmailField() {
            this.recipe.shared_emails.push(
                {
                    value: ''
                }
            );
        },
        deleteEmailField(emailIndex) {
            this.recipe.shared_emails.splice(emailIndex, 1);
        },

        //Save
        saveRecipe() {
            let request = null;
            let body = {
                name: this.recipe.name,
                description: this.recipe.description,
                portions: this.recipe.portions,
                preparing_time: this.recipe.preparing_time,
                estimated_price: this.recipe.estimated_price,
                difficulty: this.recipe.difficulty,
                category_id: this.recipe.category_id,
                share_type: this.recipe.share_type,
                shared_emails: this.recipe.shared_emails
            };

            let action = this.recipe.id > 0 ? 'edit' : 'create';

            if (action == 'edit')
                request = this.$axios.put('/recipes/' + this.recipe.id, body);
            else
                request = this.$axios.post('/recipes', body);

            request.then((response) => {
                if (response.status == 201 || response.status === 200) {
                    this.recipe.id = response.data.data.id;

                    this.saveIngredients();
                    this.saveSteps();
                    this.savePhotos();

                    this.$notify({type: "success", text: "Przepis został zapisany"})

                    if (action == 'create') {
                        this.$router.push('/recipes/' + this.recipe.id);
                    }
                }
            });
        },
        saveIngredients() {
            if (this.recipe.id <= 0 || this.recipe.ingredients.length === 0)
                return;

            this.recipe.ingredients.forEach((ingredient, key) => {
                let request = null;
                let body = {
                    ingredient_id: ingredient.ingredient_id,
                    value: ingredient.value,
                    unit_id: ingredient.unit_id,
                };
                console.log(key);
                console.log(ingredient);
                if (ingredient.id > 0)
                    request = this.$axios.put('/recipes/' + this.recipe.id + '/ingredient/' + ingredient.id, body);
                else
                    request = this.$axios.post('/recipes/' + this.recipe.id + '/ingredient', body);

                request.then(response => {
                    if (response.status === 201 || response.status === 200) {
                        this.recipe.ingredients[key].id = response.data.data.id;
                    }
                });
            });
        },
        saveSteps() {
            if (this.recipe.id <= 0 || this.recipe.steps.length === 0)
                return;

            this.recipe.steps.forEach((step, key) => {
                let request = null;
                let body = {
                    description: step.description,
                    photo_id: step.photo_id,
                    position: key + 1,
                };

                if (step.id > 0)
                    request = this.$axios.put('/recipes/' + this.recipe.id + '/step/' + step.id, body);
                else
                    request = this.$axios.post('/recipes/' + this.recipe.id + '/step', body);

                request.then(response => {
                    if (response.status === 201 || response.status === 200) {
                        this.recipe.steps[key].id = response.data.data.id;
                    }
                });
            });
        },
        savePhotos() {
            if (this.recipe.id <= 0 || this.recipe.photos.length === 0)
                return;

            this.recipe.photos.forEach((photo, key) => {
                let request = null;
                let body = {
                    photo_id: photo.photo_id,
                };

                if (photo.id > 0)
                    request = this.$axios.put('/recipes/' + this.recipe.id + '/photo/' + photo.id, body);
                else
                    request = this.$axios.post('/recipes/' + this.recipe.id + '/photo', body);

                request.then(response => {
                    if (response.status === 201 || response.status === 200) {
                        this.recipe.photos[key].id = response.data.data.id;
                    }
                });
            });
        }
    },
    mounted() {
        this.$axios.get('/units').then(response => {
            this.units = response.data.data;
        });

        if (parseInt(this.recipeId) > 0) {
            this.$axios.get('/recipes/' + this.recipeId).then(response => {
                if (response.status === 200) {
                    this.recipe.id = response.data.data.id;
                    this.recipe.name = response.data.data.name;
                    this.recipe.description = response.data.data.description;
                    this.recipe.portions = response.data.data.portions;
                    this.recipe.estimated_price = response.data.data.estimated_price;
                    this.recipe.preparing_time = response.data.data.preparing_time;
                    this.recipe.difficulty = response.data.data.difficulty;
                    this.recipe.category_id = response.data.data.category_id;
                    this.recipe.share_type = response.data.data.share_type;
                    this.recipe.shared_emails = response.data.data.shared_emails;

                    this.$axios.get('/recipes/' + this.recipe.id + '/ingredient').then(ingredientsResponse => {
                        if (ingredientsResponse.status === 200) {
                            this.recipe.ingredients = ingredientsResponse.data.data;
                        }
                    });

                    this.$axios.get('/recipes/' + this.recipe.id + '/step').then(stepsResponse => {
                        if (stepsResponse.status === 200) {
                            this.recipe.steps = stepsResponse.data.data;
                        }
                    });

                    this.$axios.get('/recipes/' + this.recipe.id + '/photo').then(photosResponse => {
                        if (photosResponse.status === 200) {
                            this.recipe.photos = photosResponse.data.data;
                        }
                    });
                }
            });
        }

        this.$axios.get('/categories', {
            params: {
                orderBy: 'name',
                orderDirection: 'asc',
                perPage: 100
            }
        }).then(results => {
            this.categories = results.data.data;
        });
    }
}
</script>
