<template>
    <div class="card card-body d-flex flex-column m-2 recipe-box">
        <i
            title="Dodaj do ulubionych"
            data-toggle="tooltip"
            data-placement="top"
            class="favourite fas fa-heart"
            :class="{'filled':recipe.is_favourite}"
            v-on:click="toggleFavorite(recipe.id)"
        ></i>
        <div class="recipe-box__image">
            <nuxt-link :to="'/recipes/' + recipe.id">
                <span class="helper">
                    <img v-if="recipe.photo" :src="recipe.photo.url" style="width: 100%">
                    <img v-if="!recipe.photo" src="/images/image-placeholder.png" style="width: 100%">
                </span>
            </nuxt-link>
        </div>
        <div class="h-100">
            <nuxt-link :to="'/recipes/' + recipe.id">
                <div class="row h-100">
                    <div class="col-12 align-self-end">
                        <span class="d-block m-1">{{ recipe.name }}</span>
                    </div>
                    <div class="col-12 align-self-end">
                        <div class="row additional-data-row">
                            <div class="col-3 preparing-time">
                                <i class="far fa-star"></i>
                            </div>
                            <div class="col-3 difficulty">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="bar-minimum" :class="{'active':recipe.difficulty == 1}"></div>
                                        <div class="bar-medium" :class="{'active':recipe.difficulty == 2}"></div>
                                        <div class="bar-maximum" :class="{'active':recipe.difficulty == 3}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 preparing-time">
                                <i class="far fa-clock"></i>
                            </div>
                            <div class="col-3 text-center portions">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                        <div class="row additional-data-row">
                            <div class="col-3 preparing-time">
                                <span>{{ recipe.rate.value }}</span>
                            </div>
                            <div class="col-3 difficulty">
                                <span>
                                    <template v-if="recipe.difficulty == 1">Łatwy</template>
                                    <template v-if="recipe.difficulty == 2">Średni</template>
                                    <template v-if="recipe.difficulty == 3">Trudny</template>
                                </span>
                            </div>
                            <div class="col-3 preparing-time">
                                <span>{{ recipe.preparing_time }} min.</span>
                            </div>
                            <div class="col-3 text-center portions">
                                <span>{{ recipe.portions }} os.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        "recipe"
    ],
    methods: {
        toggleFavorite(id) {
            this.$axios.patch('/recipes/' + id + '/toggleFavorite').then(result => {
                if (result.status === 200) {
                    this.recipe.is_favourite = !this.recipe.is_favourite;
                    this.$auth.fetchUser();
                    this.$emit('change');
                }
            })
        }
    }
}
</script>
