<template>
    <div class="search-container" v-click-outside="clear">
        <div class="search-box">
            <input class="shadow" type="text" v-model="query" v-on:input="changed">

            <i class="fas fa-search"></i>
            <i class="fas fa-times" v-on:click="clear" v-if="this.query.length > 0"></i>

            <div class="search-box__products shadow w-100" v-if="resultsOpened">
                <nuxt-link class="row" v-for="(recipe, key) in recipes" :key="key" :to="'/recipes/' + recipe.id"
                           v-on:click="clear">
                    <div class="col-4">
                        <img v-if="recipe.photo" :src="recipe.photo.url" style="width: 100%">
                        <img v-if="!recipe.photo" src="/images/image-placeholder.png" style="width: 100%">
                    </div>
                    <div class="col-8">
                        {{ recipe.name }}
                    </div>
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    watch: {
        $route() {
            this.clear();
        },
    },
    data() {
        return {
            query: '',
            recipes: [],
            resultsOpened: false
        };
    },
    methods: {
        changed: function () {
            if (this.query.length == 0) {
                this.query = '';
                this.resultsOpened = false;
                return;
            }

            this.$axios.get('/recipes', {
                params: {
                    page: 1,
                    perPage: 10,
                    orderBy: "date",
                    orderDirection: "desc",
                    query: this.query
                }
            }).then(response => {
                if (response.status === 200) {
                    this.recipes = response.data.data;
                    this.resultsOpened = true;
                }
            });
        },
        clear: function () {
            this.recipes = [];
            this.query = '';
            this.resultsOpened = false;
        }
    }
}
</script>
