.authPage {
    header {
        margin-top: 30px;
        margin-bottom: 30px;
        color: $gray1;

        h1 {
            font-size: 50px;
        }
    }

    form {
        input {
            height: 40px;
            border-radius: unset;
            border: 1px solid $gray1;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="checkbox"] {
                width: 25px;
                height: 25px;
                margin: 0 10px 0 0;
            }

            label {
                font-size: 20px;
                padding-top: 8px;
                line-height: 25px;
            }
        }

        .buttons {
            justify-content: center;
            margin-top: 11px;

            button {
                margin-bottom: 20px;
            }
        }
    }

    .btn {
        height: 40px;
        font-size: 19px;
    }
}
