.rating {
    padding-top: 15px;

    .star {
        display: inline-block;
        font-size: 18px;

        i {
            color: $gray1;
        }
    }
}

.add-to-cart-btn {
    cursor: pointer;

    &:hover {
        &.show-cross {
            &:before {
                border: 1px solid black;
                background-color: black;
            }

            &:after {
                border: 1px solid black;
                background-color: black;
            }
        }
    }

    &.show-cross {
        position: relative;

        &:before {
            content: "";
            display: block;
            border: 1px solid $gray1;
            background-color: $gray1;
            transform: rotate(45deg);
            position: relative;
            top: 11px;
            z-index: 1;
            width: 17px;
        }

        &:after {
            content: "";
            display: block;
            border: 1px solid $gray1;
            background-color: $gray1;
            transform: rotate(-45deg);
            position: relative;
            top: -14px;
            z-index: 1;
            width: 17px;
        }
    }
}

.recipeDetails {
    .rating {
        padding-top: 0px;
    }
}
