.recipeSorting {
    height: 31px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid $gray1;
}

.recipe-box {
    padding: 20px;
    border: 1px solid $gray1;
    flex: 0 1 calc(25% - 1rem);

    @media (max-width: 1024px) {
        flex: 0 1 calc(33.3333% - 1rem);
    }
    @media (max-width: 768px) {
        flex: 0 1 calc(50% - 1rem);
    }
    @media (max-width: 575px) {
        flex: 0 1 calc(100% - 1rem);
    }

    &__image {
        border: 1px solid $gray1;
        height: 130px;
        max-height: 130px;
        min-height: 130px;
        text-align: center;
        white-space: nowrap;
        position: relative;

        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .fas.fa-heart {
        position: absolute;
        right: 30px;
        top: 29px;
        font-size: 25px;
        cursor: pointer;
        color: $pink2;
        z-index: 1;

        &:hover {
            color: $pink3;
        }

        &.filled {
            color: $pink3;

            &:hover {
                color: $pink2;
            }
        }
    }

    &:hover {
        .fas.fa-heart {
            color: $pink3;
        }
    }

    .page-link {
        border: none;

        &:hover {
            background: white;
        }
    }
}

.additional-data-row {
    position: relative;
    margin: 0;

    > div {
        font-size: 10px;
        text-align: center;
        padding: 0;

        i {
            font-size: 30px;
            margin-bottom: 10px;
            margin-top: 10px;
            color: $gray1;
        }
    }

    .difficulty {
        .row {
            margin-bottom: 4px;
            margin-top: 10px;

            .bar-minimum,
            .bar-medium,
            .bar-maximum {
                width: 6px;
                border: 2px solid $gray1;
                display: inline-block;

                &.active {
                    background-color: $gray1;
                }
            }

            .bar-minimum {
                height: 12px;
            }

            .bar-medium {
                height: 19px;
            }

            .bar-maximum {
                height: 30px;
            }
        }
    }

    span {
        display: block;
    }
}
