.userAccount {
    > div {
        text-align: center;

        > a {
            color: $gray1;

            > i {
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }
}
