<template>
    <section class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                <h3 class="header">Lista zakupów</h3>
                <div class="text-center" v-if="recipes.length == 0">
                    <h3 class="header">Brak danych</h3>
                </div>
                <div v-else v-for="(recipe, index) in recipes" :key="index+'_1'">
                    <h4>
                        <nuxt-link :to="'/recipes/' + recipe.id">{{ recipe.name }}</nuxt-link>
                    </h4>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <div class="row mt-1" v-for="(ingredient, index) in recipe.ingredients" :key="index">
                                <div class="col-lg-4 col-sm-6">
                                    {{ ingredient.name }}
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    {{ ingredient.value }} {{ getUnitAbbreviation(ingredient.unit, ingredient.value) }}
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <span class="btn btn-info"
                                          v-on:click.prevent="decreaseQuantity(recipe.id, ingredient.id)">-</span>
                                    <span>{{ ingredient.quantity }}</span>
                                    <span class="btn btn-success"
                                          v-on:click.prevent="increaseQuantity(recipe.id, ingredient.id)">+</span>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    Razem: {{ ingredient.total }}
                                    {{ getUnitAbbreviation(ingredient.unit, ingredient.total) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr v-if="index + 1 < recipes.length">
                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                <h3 class="header">Podsumowanie</h3>
                <div class="text-center" v-if="sum.ingredients.length == 0">
                    <h3 class="header">Brak danych</h3>
                </div>
                <template v-else v-for="(ingredient, index) in sum.ingredients">
                    <div class="row mt-1" :key="index+'_2'">
                        <div class="col-6">
                            {{ ingredient.name }}
                        </div>
                        <div class="col-6">
                            {{ ingredient.value }} {{ getUnitAbbreviation(ingredient.unit, ingredient.value) }}
                        </div>
                    </div>
                    <hr v-if="index + 1 < sum.ingredients.length" :key="index">
                </template>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {};
    },
    methods: {
        loadData: function () {
            this.$axios.get('/cart').then(response => {
                if (response.status === 200) {
                    this.recipes = response.data.data.recipes;
                    this.sum = response.data.data.sum;
                }
            })
        },
        decreaseQuantity: function (recipe_id, ingredient_id) {
            this.$axios.delete('/cart/' + recipe_id + '/' + ingredient_id).then((response) => {
                if (response.status == 200) {
                    this.$notify({type: "success", text: "Ilość produktu na liście zakupów została zmniejszona"});
                    this.loadData();
                } else
                    this.$notify({type: "error", text: "Błąd systemu, spróbuj ponownie później"});
            });
        },
        increaseQuantity: function (recipe_id, ingredient_id) {
            this.$axios.post('/cart', {
                recipe_id: recipe_id,
                ingredient_id: ingredient_id
            }).then((response) => {
                if (response.status == 201) {
                    this.$notify({type: "success", text: "Ilość produktu na liście zakupów została zwiększona"});
                    this.loadData();
                } else
                    this.$notify({type: "error", text: "Błąd systemu, spróbuj ponownie później"});
            });
        },
        getUnitAbbreviation: function (unit, value) {
            value = parseFloat(value);

            if (value === 1)
                return unit.abbr_quantity_one;
            else if (value % 1 !== 0)
                return unit.abbr_quantity_float;
            else if (value >= 2 && value <= 4)
                return unit.abbr_quantity_two_four;
            else if (value >= 5)
                return unit.abbr_quantity_five_and_more;

            return unit.abbr_quantity_one;
        }
    },
    async asyncData({params, $axios}) {
        const data = await $axios.get('/cart').then(response => {
            if (response.status === 200) {
                return response.data.data;
            }

            return {
                recipes: [],
                sum: {
                    ingredients: []
                }
            };
        });

        const recipes = data.recipes;
        const sum = data.sum;

        return {recipes, sum};
    }
}
</script>
