<template>
    <section class="container">
        <template v-if="recipes.length > 0">
            <div class="d-flex flex-wrap">
                <RecipeListItem v-for="(recipe, key) in recipes" :key="key"
                                :recipe="recipe"
                                v-on:change="toggleFavorite"
                ></RecipeListItem>
            </div>
            <pager
                :total="total"
                :total-pages="pages"
                :page="page"
                :per-page="perPage"
                v-on:change="changePage"
            ></pager>
        </template>
        <template v-else>
            <h3>Brak ulubionych przepisów</h3>
        </template>
    </section>
</template>

<script>
import Pager from "../components/pager";
import {isSet} from "../.nuxt/auth/utilities";
import RecipeListItem from "../components/recipeListItem";

export default {
    components: {RecipeListItem, Pager},
    layout: 'default',
    data() {
        return {
            perPage: 12,
            page: 1,
            pages: 1
        };
    },
    methods: {
        loadPage: function () {
            this.$axios.get('/recipes/favorite', {
                params: {
                    page: this.page,
                    perPage: this.perPage
                }
            }).then(response => {
                if (response.status === 200) {
                    this.recipes = response.data.data;

                    if (this.recipes.length == 0 && this.page > 1) {
                        this.changePage(this.page - 1);
                        return;
                    }

                    this.total = response.data.meta.total;
                    this.pages = response.data.meta.last_page;
                }
            });
        },
        changePage: function (page) {
            this.page = page;

            this.$auth.$storage.setUniversal('recipeFavoriteListPage', page);
            this.loadPage();
        },
        toggleFavorite() {
            this.loadPage()
        }
    },
    mounted() {
        let universalPage = this.$auth.$storage.getUniversal('recipeFavoriteListPage');

        if (isSet(universalPage) && parseInt(universalPage) > 0)
            this.page = universalPage;
    },
    async asyncData({params, $axios, $auth}) {
        let universalPage = $auth.$storage.getUniversal('recipeFavoriteListPage');

        let page = 1;
        let perPage = 12;

        if (isSet(universalPage) && parseInt(universalPage) > 0)
            page = universalPage;

        const data = await $axios.get('/recipes/favorite', {
            params: {
                page: page,
                perPage: perPage
            }
        }).then(response => {
            if (response.status === 200) {
                return {
                    recipes: response.data.data,
                    total: response.data.meta.total,
                    pages: response.data.meta.last_page
                };
            }

            return {
                recipes: [],
                total: 0,
                pages: 1
            };
        });

        const recipes = data.recipes;
        const total = data.total;
        const pages = data.pages;

        return {recipes, total, pages};
    }
}
</script>
