<template>
    <section class="container">
        <div class="row">
            <div class="col-6 text-left">
                <nuxt-link class="btn btn-info" to="/recipes/create">Dodaj nowy</nuxt-link>
            </div>
            <div class="col-6 text-right">
                <div class="row">
                    <div class="col-lg-8 col-md-4 col-sm-2"></div>
                    <div class="col-lg-4 col-md-8 col-sm-10">
                        <select v-model="order" class="d-inline form-control recipeSorting"
                                v-on:change="changePage(page)">
                            <option value="date,desc">Od najnowszych</option>
                            <option value="date,asc">Od najstarszych</option>
                            <option value="name,asc">Nazwa: A-Z</option>
                            <option value="name,desc">Nazwa: Z-A</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-wrap">
            <RecipeListItem v-for="(recipe, key) in recipes" :key="key"
                            :recipe="recipe"
                            v-if="recipes.length > 0"
            ></RecipeListItem>
            <div v-if="recipes.length == 0" style="text-align: center; width: 100%; margin-top: 20px">
                <h4>Brak przepisów w bazie danych</h4>
            </div>
        </div>
        <pager
            v-if="recipes.length > 0"
            :total="total"
            :total-pages="pages"
            :page="page"
            :per-page="perPage"
            v-on:change="changePage"
        ></pager>
    </section>
</template>

<script>
import Pager from "../components/pager";
import {isSet} from "../.nuxt/auth/utilities";
import RecipeListItem from "../components/recipeListItem";

export default {
    components: {RecipeListItem, Pager},
    layout: 'default',
    data() {
        return {
            perPage: 12,
            page: 1,
            pages: 1,
            order: 'date,desc',
            query: ''
        };
    },
    methods: {
        loadPage: function () {
            let splitted = this.order.split(',');
            this.$axios.get('/recipes', {
                params: {
                    page: this.page,
                    perPage: this.perPage,
                    orderBy: splitted[0],
                    orderDirection: splitted[1]
                }
            }).then(response => {
                if (response.status === 200) {
                    this.recipes = response.data.data;
                    this.total = response.data.meta.total;
                    this.pages = response.data.meta.last_page;
                }
            });
        },
        changePage: function (page) {
            this.page = page;

            this.$auth.$storage.setUniversal('recipeListPage', page);
            this.$auth.$storage.setUniversal('recipeListOrder', this.order);
            this.loadPage();
        }
    },
    mounted() {
        let universalPage = this.$auth.$storage.getUniversal('recipeListPage');
        let universalOrder = this.$auth.$storage.getUniversal('recipeListOrder');

        if (isSet(universalPage) && parseInt(universalPage) > 0)
            this.page = universalPage;

        if (isSet(universalOrder))
            this.order = universalOrder;
    },
    async asyncData({params, $axios, $auth, $route, $router}) {
        let universalPage = $auth.$storage.getUniversal('recipeListPage');
        let universalOrder = $auth.$storage.getUniversal('recipeListOrder');

        let page = 1;
        let order = 'date,desc';
        let perPage = 12;

        if (isSet(universalPage) && parseInt(universalPage) > 0)
            page = universalPage;

        if (isSet(universalOrder))
            order = universalOrder;

        let splitted = order.split(',');
        const data = await $axios.get('/recipes', {
            params: {
                page: page,
                perPage: perPage,
                orderBy: splitted[0],
                orderDirection: splitted[1]
            }
        }).then(response => {
            if (response.status === 200) {
                return {
                    recipes: response.data.data,
                    total: response.data.meta.total,
                    pages: response.data.meta.last_page
                };
            }

            return {
                recipes: [],
                total: 0,
                pages: 1
            };
        });

        const recipes = data.recipes;
        const total = data.total;
        const pages = data.pages;

        return {recipes, total, pages};
    }
}
</script>
