<template>
    <div class="container">
        <nav
            class="navbar navbar-light fixed-bottom-sm bg-white shadow-sm mt-lg-4 mt-md-3 mt-sm-0 mt-xs-0 pt-0 pb-0 mainHeader d-flex flex-wrap">
            <div class="navbar flex-column justify-content-between mainLogoBoxHolder">
                <nuxt-link class="navbar-brand flex-column mainLogoBox" to="/">
                    <img class="d-lg-block d-md-block d-sm-none d-none" style="height: 55px"
                         src="~/assets/images/logo-long.png">
                    <img class="d-lg-none d-md-none d-sm-block d-block" style="height: 55px"
                         src="~/assets/images/logo.png">
                </nuxt-link>
            </div>
            <Search></Search>
            <div class="navbar flex-column justify-content-between mainMenuBar">
                <div class="d-flex flex-wrap">
                    <nuxt-link class="position-relative nav-link flex-column" to="/favorite">
                        <i class="d-inline far fa-heart" title="Ulubione" data-toggle="tooltip"
                           data-placement="bottom"></i>
                        <span class="d-inline" id="favourite-counter">{{ $auth.user.favorites_count }}</span>
                    </nuxt-link>
                    <nuxt-link class="position-relative nav-link flex-column" to="/cart">
                        <i class="d-inline fas fa-shopping-cart" title="Lista zakupów" data-toggle="tooltip"
                           data-placement="bottom"></i>
                        <span class="d-inline" id="shopping-list-counter">{{ $auth.user.cart_count }}</span>
                    </nuxt-link>
                    <nuxt-link class="position-relative nav-link flex-column" to="/account">
                        <i class="d-inline fas fa-user-cog" title="Moje konto" data-toggle="tooltip"
                           data-placement="bottom"></i>
                    </nuxt-link>
                    <a href="/auth/logout" class="position-relative nav-link flex-column" @click.prevent="logout">
                        <i class="d-inline fas fa-power-off" title="Wyloguj się" data-toggle="tooltip"
                           data-placement="bottom"></i>
                    </a>
                </div>
            </div>
        </nav>
        <nav
            class="navbar navbar-light bg-white shadow-sm mt-lg-4 mt-md-3 mt-sm-0 mt-xs-0 pt-0 pb-0 d-flex categories flex-wrap">
            <Categories></Categories>
        </nav>
    </div>
</template>

<script>
import Search from "../../components/search";
import Categories from "../../components/Categories";

export default {
    components: {Categories, Search},
    methods: {
        async logout() {
            await this.$auth.logout();
            this.$router.push({name: 'index'});
        }
    }
}
</script>
