<template>
    <section class="container">
        <h3 class="header text-center">Usuwanie konta</h3>
        <hr>

        <p>Jesteś pewien, że chcesz usunąć swoje konto z naszego serwisu? Ta operacja jest nieodwracalna, więc zastanów
            się dwa razy zanim klikniesz przycisk Usuń. Podaj hasło, abyśmy mogli się upewnić, że to na pewno Ty jesteś
            właścicielem konta i chcesz je usunąć.</p>
        <div class="mt-2">
            Hasło <var class="required">*</var>
            <input
                type="password"
                v-model="password"
                placeholder="hasło"
                class="form-control"
                :class="[errors.password ? 'is-invalid' : '']"
                v-b-tooltip.hover.right="errors.password"
                :title="getError('password')"
            />
        </div>

        <b-modal
            class="modal"
            id="delete_confirmation_modal"
            tabindex="-1"
            role="dialog"
            title="Uwaga"
            hide-footer
        >
            <p>Czy jesteś pewien, że chcesz usunąć swoje konto? Tej operacji nie będzie można cofnąć oraz nie będzie
                możliwości odzyskania danych.</p>
            <b-button class="mt-2 btn btn-success" block v-on:click.prevent="save">Tak, jestem pewien</b-button>
            <b-button class="mt-2 btn btn-info" block @click="$bvModal.hide('delete_confirmation_modal')">Nie, zmieniłem
                zadnie
            </b-button>
        </b-modal>

        <span class="btn btn-success mt-2" v-b-modal.delete_confirmation_modal data-target="#delete_confirmation_modal">Usuń</span>
        <nuxt-link to="/account" class="btn btn-info mt-2">Powrót</nuxt-link>
    </section>
</template>

<script>
export default {
    layout: 'default',
    data() {
        return {
            password: ''
        };
    },
    methods: {
        async logout() {
            await this.$auth.logout();
            this.$router.push({name: 'index'});
        },
        save: function () {
            this.$axios.delete('/users', {
                password: this.password
            }).then(response => {
                if (response.status == 200) {
                    this.$notify({type: 'success', text: 'Twoje konto zostało usunięte'});
                    this.logout();
                    this.redirect.to('/auth/login');
                    return;
                }

                this.$notify({type: 'error', text: "Błąd systemu, spróbuj ponownie później"});
            });
        },

        getError(field) {
            let error = [];

            if (field == 'password' && this.errors.password)
                error = this.errors.password;

            return error.join('<br>');
        }
    }
}
</script>
