<template>
    <section class="container">
        <div class="d-flex flex-wrap userAccount">
            <div class="p-2 d-flex flex-column m-2" style="max-width: 250px;">
                <nuxt-link to="/account/user">
                    <i class="fas fa-user-edit"></i>
                    <div>Dane osobowe</div>
                </nuxt-link>
            </div>
            <div class="p-2 d-flex flex-column m-2" style="max-width: 250px;">
                <nuxt-link to="/account/password">
                    <i class="fas fa-unlock-alt"></i>
                    <div>Zmiana hasła</div>
                </nuxt-link>
            </div>
            <div class="p-2 d-flex flex-column m-2" style="max-width: 250px;">
                <nuxt-link to="/account/settings">
                    <i class="fas fa-users-cog"></i>
                    <div>Ustawienia konta</div>
                </nuxt-link>
            </div>
            <div class="p-2 d-flex flex-column m-2" style="max-width: 250px;">
                <nuxt-link to="/account/delete">
                    <i class="fas fa-trash-alt"></i>
                    <div>Usuń konto</div>
                </nuxt-link>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    layout: 'default'
}
</script>
