<template>
    <section class="container">
        <h3 class="header text-center">Zmiana hasła</h3>
        <hr>

        <div class="mb-2">
            Stare hasło <var class="required">*</var>
            <input
                type="password"
                v-model="password"
                placeholder="hasło"
                class="form-control"
                :class="[errors.password ? 'is-invalid' : '']"
                v-b-tooltip.hover.right="errors.password"
                :title="getError('password')"
            />
        </div>

        <div class="mb-2">
            Nowe hasło <var class="required">*</var>
            <input
                type="password"
                v-model="new_password"
                placeholder="hasło"
                class="form-control"
                :class="[errors.new_password ? 'is-invalid' : '']"
                v-b-tooltip.hover.right="errors.new_password"
                :title="getError('new_password')"
            />
        </div>

        <div class="mt-2 mb-2">
            Powtórz nowe hasło <var class="required">*</var>
            <input
                type="password"
                v-model="new_password_confirmation"
                placeholder="hasło"
                class="form-control"
                :class="[errors.new_password_confirmation ? 'is-invalid' : '']"
                v-b-tooltip.hover.right="errors.new_password_confirmation"
                :title="getError('new_password_confirmation')"
            />
        </div>

        <span class="btn btn-success" v-on:click.prevent="save">Zapisz zmiany</span>
        <nuxt-link to="/account" class="btn btn-info">Powrót</nuxt-link>
    </section>
</template>

<script>
export default {
    layout: 'default',
    data() {
        return {
            password: '',
            new_password: '',
            new_password_confirmation: '',
        };
    },
    mounted: function () {
    },
    methods: {
        setDefaults: function () {
            this.password = '';
            this.new_password = '';
            this.new_password_confirmation = '';
        },
        save: function () {
            this.$axios.put('/users/password', {
                password: this.password,
                new_password: this.new_password,
                new_password_confirmation: this.new_password_confirmation
            }).then(response => {
                if (response.status == 200) {
                    this.$auth.fetchUser();
                    this.$notify({type: 'success', text: 'Twoje hasło zostało zmienione'});

                    this.setDefaults();

                    return;
                }

                this.$notify({type: 'error', text: "Błąd systemu, spróbuj ponownie później"});
            });
        },

        getError(field) {
            let error = [];
            if (field == 'password' && this.errors.password)
                error = this.errors.password;

            if (field == 'new_password' && this.errors.new_password)
                error = this.errors.new_password;

            if (field == 'new_password_confirmation' && this.errors.new_password_confirmation)
                error = this.errors.new_password_confirmation;

            return error.join('<br>');
        }
    }
}
</script>
