<template>
    <section class="container">
        <h3 class="header text-center">Ustawienia konta</h3>
        <hr>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                Zasady udostępniania przepisów<br>
                <ul data-id="0" class="list-unstyled radio">
                    <li>
                        <label>
                            <input type="radio" value="0" v-model="share_type">
                            Nie udostępniaj
                        </label>
                    </li>
                    <li>
                        <label class="share_type">
                            <input type="radio" value="1" v-model="share_type">
                            Udostępnij wybranym
                        </label>
                    </li>
                    <li>
                        <label class="share_type">
                            <input type="radio" value="2" v-model="share_type">
                            Udostępnij wszystkim
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" v-if="share_type == 1">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="row pb-1 pt-1" v-for="(sharedEmail, sharedEmailsIndex) in shared_emails"
                             :key="sharedEmailsIndex">
                            <div class="col-11">
                                <input type="email" v-model="shared_emails[sharedEmailsIndex].value"
                                       class="form-control" placeholder="Adres e-mail">
                            </div>
                            <div class="col-1">
                                <button class="btn btn-danger" @click.prevent="deleteEmailField(sharedEmailsIndex)">x
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pt-1">
                        <button class="btn btn-success" @click.prevent="addEmailField">+</button>
                    </div>
                </div>
            </div>
        </div>

        <span class="btn btn-success" v-on:click.prevent="save">Zapisz zmiany</span>
        <nuxt-link to="/account" class="btn btn-info">Powrót</nuxt-link>
    </section>
</template>

<script>
export default {
    layout: 'default',
    data() {
        return {
            share_type: 0,
            shared_emails: []
        };
    },
    mounted: function () {
        this.setDefaults();
    },
    methods: {
        setDefaults: function () {
            this.share_type = parseInt(this.$auth.user.share_type);
            this.shared_emails = JSON.parse(JSON.stringify(this.$auth.user.shared_emails));

            if (this.share_type < 0 || this.share_type > 2) {
                this.share_type = 0;
            }

            if (!this.shared_emails) {
                this.shared_emails = [];
            }
        },
        save: function () {
            this.$axios.put('/users/settings', {
                share_type: this.share_type,
                shared_emails: this.shared_emails
            }).then(response => {
                if (response.status == 200) {
                    this.$auth.fetchUser();

                    if (this.share_type == 0 || this.share_type == 2) {
                        this.shared_emails = [];
                    }

                    this.$notify({type: 'success', text: 'Zmiany zostały zapisane'});
                    return;
                }

                this.$notify({type: 'error', text: "Błąd systemu, spróbuj ponownie później"});
            });
        },
        addEmailField() {
            this.shared_emails.push(
                {
                    value: ''
                }
            );
        },
        deleteEmailField(emailIndex) {
            this.shared_emails.splice(emailIndex, 1);
        },
        getError(field) {
            let error = [];
            if (field == 'password' && this.errors.password)
                error = this.errors.password;

            if (field == 'new_password' && this.errors.new_password)
                error = this.errors.new_password;

            if (field == 'new_password_confirmation' && this.errors.new_password_confirmation)
                error = this.errors.new_password_confirmation;

            return error.join('<br>');
        }
    }
}
</script>
