<template>
    <section class="container">
        <h3 class="header text-center">Edycja danych osobowych</h3>
        <hr>

        <div class="mb-2">
            Adres e-mail <var class="required">*</var>
            <input
                type="text"
                v-model="email"
                placeholder="Adres e-mail"
                class="form-control"
                :class="[errors.email ? 'is-invalid' : '']"
                v-b-tooltip.hover.right="errors.email"
                :title="getError('email')"
            />
        </div>

        <div class="mb-2">
            Imię i Nazwisko <var class="required">*</var>
            <input
                type="text"
                v-model="name"
                placeholder="Imię i Nazwisko"
                class="form-control"
                :class="[errors.name ? 'is-invalid' : '']"
                v-b-tooltip.hover.right="errors.name"
                :title="getError('name')"
            />
        </div>

        <div>
            <div class="checkbox disabled">
                <label :class="[errors.is_rodo_checked ? 'is-invalid' : '']"
                       v-b-tooltip.hover.right="errors.is_rodo_checked" :title="getError('is_rodo_checked')">
                    <input type="checkbox" v-model="is_rodo_checked" v-on:change="rodoChanged" value="1">
                    <span></span>
                    <var class="required">*</var>
                    Wyrażam zgodę na przetwarzanie moich danych osobowych przez Przepisomat, w celu
                    zarejestrowania
                    się w serwisie oraz zapisywania swoich przepisów.
                    Oświadczam, iż dane zostały podane dobrowolnie i zapoznałam/zapoznałem się z poniższą
                    klauzulą
                    informacyjną oraz pouczeniem dotyczącym prawa dostępu
                    do treści moich danych i możliwości ich poprawienia. Jestem świadomy, iż moja zgoda może być
                    w każdym
                    czasie odwołana.
                </label>
            </div>
            <div class="row buttons">
                <div class="col-lg-7 m-auto">
                    <span class="btn btn-primary w-100 mb-2" data-toggle="modal" v-b-modal.rodo-modal
                          data-target="#rodo-modal">Klauzula informacyjna</span>
                </div>
            </div>

            <b-modal class="modal" id="rodo-modal" tabindex="-1" role="dialog" title="Klauzula informacyjna">
                <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27
                    kwietnia 2016 r. (dalej: RODO) informuję, iż Administratorem Państwa Danych Osobowych jest
                    Michał Kuchta zamieszkały Pagorzyna 146, 38-305 Lipinki;
                    z Administratorem można skontaktować się pod adresem e-mail: michal.kuchta@outlook.com;
                    Państwa dane osobowe będą przetwarzane na podstawie art. 6 ust. 1 lit. a i b) RODO w celu
                    zarejestrowania się w serwisie oraz dodawania przepisów;
                    Państwa dane osobowe będą przechowywane do momentu usunięcia konta w serwisie
                    www.przepisomat.kik-software.pl lub zgłoszenia wniosku o usunięcie Państwa danych;
                    w przypadku wyrażenia większej ilości zgód, podane dane osobowe będą przetwarzane również na
                    podstawie art. 6 ust. 1 lit. a) RODO;
                    przysługuje Państwu prawo do żądania od administratora dostępu do danych osobowych, prawo
                    ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, prawo
                    wniesienia sprzeciwu, prawo do cofnięcia zgody;
                    w przypadku stwierdzenia, że przetwarzanie Państwa danych osobowych narusza przepisy RODO,
                    mają Państwo prawo wnieść skargę do Prezesa Urzędu Ochrony Danych Osobowych;
                    podanie danych osobowych jest dobrowolne, jednakże ich niepodanie skutkować będzie
                    niemożliwością zarejestrowania się w serwisie oraz dodania przepisów;
                    podane dane osobowe nie będą przechowywane na serwerach w państwie trzecim;</p>
            </b-modal>

            <div class="mt-2">
                Podaj hasło <var class="required">*</var>
                <input
                    type="password"
                    v-model="password"
                    placeholder="hasło"
                    class="form-control"
                    :class="[errors.password ? 'is-invalid' : '']"
                    v-b-tooltip.hover.right="errors.password"
                    :title="getError('password')"
                />
                Hasło jest wymagane, aby móc wprowadzić żądane zmiany.<br><br>
            </div>
        </div>

        <b-modal class="modal" id="rodo-unchecked-modal" tabindex="-1" role="dialog" title="Informacja">
            <p>Drogi użytkowniku!</p>
            <p>Zauważyliśmy, że odznaczyłeś zgodę na przetwarzanie danych osobowych. Zapisanie zmian z
                odznaczoną zgodą RODO spowoduje usunięcie Twoich danych osobowych, Twojego konta oraz dodanych
                przez Ciebie przepisów. Ta operacja jest nieodwracalna, więc zastanów się zanim zapiszesz zmiany.</p>
        </b-modal>

        <span class="btn btn-success" v-on:click.prevent="save">Zapisz zmiany</span>
        <nuxt-link to="/account" class="btn btn-info">Powrót</nuxt-link>
    </section>
</template>

<script>
export default {
    layout: 'default',
    data() {
        return {
            email: '',
            name: '',
            is_rodo_checked: true,
            password: '',
        };
    },
    mounted: function () {
        this.setDefaults();
    },
    methods: {
        setDefaults: function () {
            this.email = this.$auth.user.email;
            this.name = this.$auth.user.name;
            this.is_rodo_checked = this.$auth.user.is_rodo_checked;
            this.password = '';
        },
        async logout() {
            await this.$auth.logout();
            this.$router.push({name: 'index'});
        },
        save: function () {
            this.$axios.put('/users', {
                name: this.name,
                email: this.email,
                password: this.password,
                is_rodo_checked: this.is_rodo_checked
            }).then(response => {
                if (response.status == 201) {
                    this.logout();
                } else if (response.status == 200) {
                    this.$auth.fetchUser();
                    this.$notify({type: 'success', text: 'Zmiany zostały zapisane'});

                    this.mounted();

                    return;
                }

                this.$notify({type: 'success', text: "Błąd systemu, spróbuj ponownie później"});
            });
        },

        rodoChanged: function () {
            if (!this.is_rodo_checked) {
                this.$bvModal.show('rodo-unchecked-modal');
            }
        },

        getError(field) {
            let error = [];
            if (field == 'email' && this.errors.email)
                error = this.errors.email;

            if (field == 'password' && this.errors.password)
                error = this.errors.password;

            if (field == 'is_rodo_checked' && this.errors.is_rodo_checked)
                error = this.errors.is_rodo_checked;

            if (field == 'name' && this.errors.name)
                error = this.errors.name;

            return error.join('<br>');
        }
    }
}
</script>
