body {
    background: $pink1 url("~assets/images/background03.png") repeat;
}

#app {
    position: relative;

    .mainContentBox {
        background: $pink1;
        color: $gray1;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        min-height: 130px;

        @include media-breakpoint-down('xs'){
            margin-bottom: 150px;
        }

        > .card-body {
            padding: 10px;
        }

        hr {
            margin: 0;
            border: 0;
            border-top: 1px solid $gray1;
            margin-top: 5px;
        }

        a {
            color: $gray1;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.btn {
    height: 31px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &.btn-primary,
    &.btn-success {
        background: $gray1;
        border: 1px solid $gray1;
        color: white !important;

        &:hover, &:focus, &:active {
            background: $grayHover1 !important;
            background-color: $grayHover1 !important;
            border: 1px solid $gray1 !important;
        }
    }

    &.btn-info {
        color: $gray1;
        background: #ffffff;
        border: 1px solid $gray1;

        &:hover, &:focus, &:active {
            background: $whiteHover1 !important;
            background-color: $whiteHover1 !important;
            border: 1px solid $gray1 !important;
        }
    }
}

.icon {
    &:hover {
        color: $grayHover1
    }
}

[class*="shadow"] {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5) !important;
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5) !important;
}

.required {
    color: red;
}

.pagination {
    .page-item {
        cursor: pointer;

        &.active {
            .page-link {
                background-color: $gray2;
                border-color: $gray1;
            }
        }

        .page-link {
            color: $gray1;
            background-color: #fff;
        }
    }
}

h1, h2, h3, h4, h5, .header {
    color: $gray3;
}

h1.header {
    margin-bottom: 20px;
}

.left-arrow,
.right-arrow {
    &:before {
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-color: transparent;
        margin-top: -35px;
        border-width: 35px;
    }
}

.left-arrow {
    &:before {
        right: 0;
        border-right-color: $gray1 !important;
    }
}

.right-arrow {
    &:before {
        left: 0;
        border-left-color: $gray1 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0.7;

    &:hover {
        opacity: 1;

        .left-arrow {
            &:before {
                border-right-color: $pink1 !important;
            }
        }

        .right-arrow {
            &:before {
                border-left-color: $pink1 !important;
            }
        }
    }
}

.carousel-indicators li {
    background-color: $gray1;

    &.active {
        background-color: $pink1;
    }
}

.notifications {
    position: fixed;
    bottom: 0;

    i {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    @media (min-width: 320px) {
        width: 100%;
        right: 0;
    }
    @media (min-width: 640px) {
        width: 100%;
        right: 0;
    }
    @media (min-width: 768px) {
        width: 25%;
        right: 10px;
    }
}

label.is-invalid {
    color: $red;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

.card {
    .card-header.custom-card-header {
        background-color: $gray1;
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) calc(0.25rem - 1px) calc(0.25rem - 1px);
        padding-top: 0px;

        a {
            &.nav-link {
                border: none;
                background: none;
                color: white !important;
                position: relative;

                &.active {
                    &:after {
                        content: '';
                        position: absolute;
                        border-bottom: 2px solid $pink1;
                        display: block;
                        width: 90%;
                        left: 5%;
                    }
                }
            }
        }
    }
}

.v-select .dropdown li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
    border-bottom: none;
}

.v-select .dropdown li a {
    padding: 10px 20px;
    width: 100%;
    font-size: 1.25em;
    color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
    color: #fff;
}
