@include media-breakpoint-down("sm") {
    .fixed-bottom-sm {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        -webkit-border-bottom-left-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -moz-border-bottom-left-radius: 0px !important;
        -moz-border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}
