.categories {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: $gray1;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    .fa-bars {
        font-size: 25px;
    }

    .list {
        width: 100%;

        .category-item {
            padding-left: 20px;
            a {
                color: $gray1;
            }
        }
    }

    .categoryExpander {
        font-size: 20px;
        position: relative;
        top: 3px;
        position: absolute;
        left: -10px;
    }
}
