.admin-navbar {
    top: 0;
    left: 0;
    width: 100%;
    background: #23282d;
    color: #ffffff;

    a {
        color: white;
    }
}

.mainHeader {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: $gray1;

    @include media-breakpoint-down('md'){
        margin-bottom: 70px;
    }

    @include media-breakpoint-down('xs'){
        margin-bottom: 0px;
        .mainLogoBoxHolder {
            .mainLogoBox {
                margin: 0;
            }
        }
        .mainMenuBar {
            padding: 8px 8px;
        }
    }

    .nav-link {
        color: $gray1;

        i {
            font-size: 25px;
            color: $gray1;
        }

        #favourite-counter,
        #shopping-list-counter {
            padding: 2px 6px;
            border-radius: 10px;
            background: $pink2;
            font-size: 12px;
            line-height: 14px;
            position: absolute;
            bottom: 3px;
            right: 7px;
            font-weight: bold;
        }

        @include media-breakpoint-down('md') {
            i {
                font-size: 35px;
            }
        }
        @include media-breakpoint-down('xs') {
            i {
                font-size: 30px;
            }
            #favourite-counter,
            #shopping-list-counter {
                border-radius: 11px;
                font-size: 20px;
                line-height: 20px;
            }
        }

        @media (max-width: 400px)
        {
            i {
                font-size: 25px;
            }
            #favourite-counter,
            #shopping-list-counter {
                border-radius: 11px;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}

.search-container {
    width: 30%;

    @include media-breakpoint-down('md') {
        background: white;
        width: 80%;
        left: 10%;
        top: 100%;
        padding: 10px 0;
        border-radius: 0px 0px 10px 10px;
        position: absolute;
        z-index: 1;
        box-shadow: 0px 3px 5px 0px RGB(0 0 0 / 50%) !important;
    }

    @include media-breakpoint-down('xs') {
        top: -50px;
        padding: 10px 0;
        border-radius: 10px 10px 0px 0px;
        position: absolute;
        box-shadow: none !important;
    }

    a {
        color: $gray1;

        &:hover {
            color: $gray1;
        }
    }

    .search-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .search-box {
        position: relative;

        @include media-breakpoint-down('md') {
            width: 80%;
            margin: auto;
        }

        input {
            border: none;
            width: 100%;
            background-color: $pink1;
            border-radius: 5px;
            padding: 3px;
        }

        i.fa-search {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 20px;
        }

        i.fa-times {
            position: absolute;
            right: 40px;
            top: 5px;
            font-size: 20px;
            cursor: pointer;
        }

        &__products {
            position: absolute;
            top: 27px;
            background: #ffe8df;
            z-index: 2;

            @include media-breakpoint-down('xs'){
                top: unset;
                bottom: 100%;
            }
        }
    }
}
