<template>
    <div class="row" :class="['cat-level-' + level]">
        <div class="col-2">
            <div class="btn btn-info" v-if="expanded === false && category.children.length > 0"
                 v-on:click.prevent="expand()">+
            </div>
            <div class="btn btn-info" v-if="expanded === true && category.children.length > 0"
                 v-on:click.prevent="expand()">-
            </div>
        </div>
        <div class="col-10">
            <span :class="[category.id == currentCategory ? 'active' : '']"
                  v-on:click.prevent="change(category.id)">{{ category.name }}</span>
            <template v-if="expanded && category.children.length > 0">
                <br>
                <CategoryItems
                    :categories="category.children"
                    :level="level+1"
                    :currentCategory="currentCategory"
                    v-on:change="change"
                ></CategoryItems>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    components: {
        CategoryItems: () => import('./CategoryItems')
    },
    name: 'CategoryItem',
    data() {
        return {
            expanded: false
        }
    },
    props: ["category", "currentCategory", "level"],
    layout: 'admin',
    middleware: 'admin',
    methods: {
        change: function (id) {
            this.$emit('change', id);
        },
        expand: function () {
            this.expanded = !this.expanded;
        }
    }
}
</script>
