<template>
    <div>
        <div v-for="(category, key) in categories" :key="key">
            <CategoryItem
                :category="category"
                :level="level"
                :current-category="currentCategory"
                v-on:change="change"
            ></CategoryItem>
        </div>
    </div>
</template>

<script>
export default {
    components: {
        CategoryItem: () => import('./CategoryItem')
    },
    name: 'CategoryItems',
    props: ["categories", "currentCategory", "level"],
    methods: {
        change: function (id) {
            this.$emit('change', id);
        }
    }
}
</script>
