<template>
    <div class="row">
        <div class="col-12">
            <h2 v-if="parseInt(currentCategory) > 0">Edycja kategorii: {{ category.name }}</h2>
            <h2 v-else>Tworzenie nowej kategorii</h2>
            <hr>
            <div class="row">
                <div class="col-4">Nazwa:</div>
                <div class="col-8"><input type="text" v-model="category.name"></div>
            </div>
            <div class="row">
                <div class="col-4">Kategoria nadrzędna:</div>
                <div class="col-8">
                    <select v-model="category.parent_id" v-on:change="parentChanged()">
                        <option v-for="(cat, index) in categories" :key="index" :value="cat.id">{{ cat.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">Aktywna:</div>
                <div class="col-8">
                    <input type="checkbox" v-model="category.is_active">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="btn btn-success" v-on:click="save">Zapisz</span>
                    <span v-if="currentCategory > 0" class="btn btn-danger" v-on:click="deletePopup">Usuń</span>
                    <span class="btn btn-info" v-on:click="changePage">Anuluj</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            category: {
                name: '',
                parent_id: 0,
                old_parent_id: 0,
                is_active: false
            },
            categories: [
                {
                    id: 0,
                    name: 'Brak'
                }
            ],
        }
    },
    props: ["currentCategory"],
    mounted: function () {
        if (parseInt(this.currentCategory) > 0) {
            this.$axios.get('categories/' + this.currentCategory).then((result) => {
                if (result.status == '200') {
                    this.category = {
                        name: result.data.data.name,
                        parent_id: parseInt(result.data.data.parent_id),
                        old_parent_id: parseInt(result.data.data.parent_id),
                        is_active: result.data.data.is_active
                    };
                }
            });
        }

        this.$axios.get('categories/tree').then((result) => {
            if (result.status == '200') {
                this.prepareCategoryOptions(result.data.data, 1);
            }
        });
    },
    methods: {
        changePage: function () {
            this.$emit('change', -1);
        },
        parentChanged: function () {
            if (this.currentCategory > 0 && this.category.parent_id == this.currentCategory) {
                this.category.parent_id = this.category.old_parent_id;
                this.$notify({
                    type: "info",
                    text: "Obecnie edytowana kategoria nie może być swoją kategorią nadrzędną"
                });
            }
        },
        prepareCategoryOptions: function (categories, level) {
            categories.forEach(category => {
                this.categories.push({
                    id: category.id,
                    name: this.prepareName(category.name, level)
                });

                if (category.has_children && category.children.length > 0) {
                    this.prepareCategoryOptions(category.children, level + 1);
                }
            })
        },
        prepareName: function (name, level) {
            let times = parseInt(level - 1) * 4;
            let x = 0;
            while (x < times) {
                name = '_' + name;
                x++;
            }

            return name;
        },
        reloadTree: function () {
            this.$emit('reload', true);
        },
        save: function () {
            if (this.currentCategory > 0) {
                this.$axios.put('categories/' + this.currentCategory, {
                    name: this.category.name,
                    parent_id: this.category.parent_id,
                    is_active: this.category.is_active
                }).then((response) => {
                    if (response.status == '200' || response.status == '201') {
                        this.category = {
                            name: response.data.data.name,
                            parent_id: response.data.data.parent_id,
                            old_parent_id: response.data.data.parent_id,
                            is_active: response.data.data.is_active
                        };
                        this.$notify({type: 'success', text: 'Kategoria została zaktualizowana'});
                        this.reloadTree();
                    }
                });
            } else {
                this.$axios.post('categories', {
                    name: this.category.name,
                    parent_id: this.category.parent_id,
                    is_active: this.category.is_active
                }).then((response) => {
                    if (response.status == '200' || response.status == '201') {
                        this.category = {
                            name: response.data.name,
                            parent_id: response.data.data.parent_id,
                            old_parent_id: response.data.data.parent_id,
                            is_active: response.data.data.is_active
                        };
                        this.currentCategory = response.data.data.id;
                        this.$notify({type: 'success', text: 'Kategoria została utworzona'});
                        this.reloadTree();
                    }
                });
            }

        },
        deletePopup: function () {
            if (this.currentCategory > 0) {
                this.$bvModal.msgBoxConfirm('Czy jesteś pewien, że chcesz usunąć kategorię ' + this.category.name + '? Zostanie ona usunięta nieodwracalnie. Zostaną usunięte również wszystkie podkategorie tej kategorii.')
                    .then(value => {
                        this.$axios.delete('categories/' + this.currentCategory).then((response) => {
                            if (response.status == 200) {
                                this.$notify({type: 'success', text: 'Kategoria została usunięta'});
                                this.reloadTree();
                            }
                        });
                    })
                    .catch(err => {
                        // An error occurred
                    });
            }

        }
    }
}
</script>
