<template>
    <div class="row pagination justify-content-center mt-2">
        <nuxt-link class="col-2" to="/admin">Dashboard</nuxt-link>
        <nuxt-link class="col-2" to="/admin/categories">Kategorie</nuxt-link>
    </div>
</template>

<script>
export default {}
</script>
